body{
font-family: 'Quicksand', sans-serif;
	color: white;
	background-color:#c2c2c2;
}


/*
font-family: 'Pacifico', cursive;
font-family: 'Quicksand', sans-serif; /* letras 
font-family: 'Mogra', cursive;
font-family: 'Kanit', sans-serif;
font-family: 'Bungee Shade', cursive;/no
font-family: 'Monoton', cursive; /puiede
*/
#slide-1 {    
	/*background:#F0603B;*/
	background:#D81B5B;
    background-position: center bottom;
    width: 100%;
    z-index: 1000;
    height: 150px;
    vertical-align: middle;  
    position: relative;
    overflow: hidden;
    background-position: center center;
    background-repeat: repeat-y;
    background-size: cover;
}

 img{
margin:4% auto auto auto ;
width:180px;
height:180px;
 }
 
#slide-1 h1{
text-align:center;
font-size:40px;
font-family: 'Pacifico', cursive;
}

#color{	color: #333333;}

#slide-1 p{
margin:4% 50% auto auto ;
text-align:left;
font-size:15px;
font-family: 'Quicksand', sans-serif;
}

#slide-1 span{
text-align:center;
color:yellow;
margin:2% auto auto 15% ;
}

#amarillo{
color:yellow;
font-size:20px;
}

#slide-1 small{
font-size:25px;
font-family: 'Quicksand', sans-serif;
color:yellow;
margin-left:10px;
}



h2{
text-align:center;
}



#cvsolePuntos{
font-size:10px;
letter-spacing:10px;
}



.cvsolecontenido{
height:75vh;
top:50px;
background-color:#c2c2c2;

}
.cvsoleinfo{

background-color:#c2c2c2;



}

#cvnombre{
color:white;
}
.datos{color:white;}


#titulocv{
color:#d9534f;
}

.cvsoletexto{
color:white;
font-size:20px;
font-family: 'Handlee', cursive;
margin-top:15%;
}

#cvsoletitulos{
color:white;
margin-left:1%;
font-size:30px;
}
#cvsoletitulo{
color:white;

font-size:30px;
}


